In [13]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('HPL.db')

In [4]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM table1 where cores is 4 ORDER BY TIME LIMIT 1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

,cores,PMAP,SWAP,L1,U,EQUIL,DEPTH,BCAST,RFACT,NDIV,PFACT,NBMIN,N,NB,P,Q,Time,Gflops
0,4,Row-major,Mix,transposed,transposed,yes,0,0,R,2,L,2,20352.0,192.0,2.0,2.0,19.19,292.89

In [14]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM table1 where cores is 4 AND PMAP is 'Row-major' AND SWAP is 'Mix' AND L1 is 'transposed' AND U is 'transposed' AND EQUIL is 'yes' AND DEPTH is 0 AND BCAST is 0 AND RFACT is 'R' AND NDIV is 2 AND PFACT is 'L' AND NBMIN is 3 AND N is 20352 AND NB is 192")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

Empty DataFrame
Columns: [cores, PMAP, SWAP, L1, U, EQUIL, DEPTH, BCAST, RFACT, NDIV, PFACT, NBMIN, N, NB, P, Q, Time, Gflops]
Index: []

In [18]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM table1 where Gflops is 75.197")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

Empty DataFrame
Columns: [cores, PMAP, SWAP, L1, U, EQUIL, DEPTH, BCAST, RFACT, NDIV, PFACT, NBMIN, N, NB, P, Q, Time, Gflops]
Index: []

In [17]:
cursor = conn.cursor()
cursor.execute("DELETE FROM table1 where Gflops is 75.197")
conn.commit()

In [3]:
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT PMAP FROM table1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

           PMAP
0     Row-major
1  Column-major

In [4]:
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT SWAP FROM table1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

              SWAP
0              Mix
1  Binary-exchange
2      Spread-roll

In [5]:
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT L1 FROM table1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

              L1
0     transposed
1  no-transposed

In [6]:
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT U FROM table1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

               U
0     transposed
1  no-transposed

In [7]:
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT EQUIL FROM table1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

  EQUIL
0   yes
1    no

In [8]:
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT RFACT FROM table1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

  RFACT
0     R
1     L
2     C

In [9]:
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT PFACT FROM table1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

  PFACT
0     L
1     C
2     R

In [16]:
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT BCAST FROM table1")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

   BCAST
0      0
1      1
2      2
3      3
4      4
5      5
6  1ring