In [2]:
#链接数据库

import sqlite3
import pandas as pd

conn = sqlite3.connect('HPL.db')

In [3]:
# Create a cursor object
cursor = conn.cursor()

# Update the values in the "RFACT" column
cursor.execute("UPDATE table1 SET RFACT = 'Right' WHERE RFACT = 'R'")
cursor.execute("UPDATE table1 SET RFACT = 'Left' WHERE RFACT = 'L'")
cursor.execute("UPDATE table1 SET RFACT = 'Crout' WHERE RFACT = 'C'")

# Commit the changes
conn.commit()

cursor.execute("SELECT DISTINCT RFACT FROM table1")
results = cursor.fetchall()
print(results)

[('Right',), ('Left',), ('Crout',)]

In [5]:
cursor.execute("UPDATE table1 SET PFACT = 'Right' WHERE PFACT = 'R'")
cursor.execute("UPDATE table1 SET PFACT = 'Left' WHERE PFACT = 'L'")
cursor.execute("UPDATE table1 SET PFACT = 'Crout' WHERE PFACT = 'C'")

# Commit the changes
conn.commit()

cursor.execute("SELECT DISTINCT PFACT FROM table1")
results = cursor.fetchall()
print(results)

[('Left',), ('Crout',), ('Right',)]

In [5]:
cursor.execute("UPDATE table1 SET BCAST = '1ring' WHERE BCAST = '0'")
cursor.execute("UPDATE table1 SET BCAST = '1ringM' WHERE BCAST = '1'")
cursor.execute("UPDATE table1 SET BCAST = '2ring' WHERE BCAST = '2'")
cursor.execute("UPDATE table1 SET BCAST = '2ringM' WHERE BCAST = '3'")
cursor.execute("UPDATE table1 SET BCAST = 'Blong' WHERE BCAST = '4'")
cursor.execute("UPDATE table1 SET BCAST = 'BlongM' WHERE BCAST = '5'")
# Commit the changes
conn.commit()

cursor.execute("SELECT DISTINCT BCAST FROM table1")
results = cursor.fetchall()
print(results)

[('1ring',), ('1ringM',), ('2ring',), ('2ringM',), ('Blong',), ('BlongM',)]

In [7]:
cursor.execute("SELECT * FROM table1 ORDER BY Gflops DESC LIMIT 10")
results = cursor.fetchall()
column_names = [column[0] for column in cursor.description]

df = pd.DataFrame(results, columns=column_names)
df

,cores,PMAP,SWAP,L1,U,EQUIL,DEPTH,BCAST,RFACT,NDIV,PFACT,NBMIN,N,NB,P,Q,Time,Gflops
0,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Right,2,79104.0,304.0,4.0,6.0,248.36,1328.7
1,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Right,2,79104.0,296.0,4.0,6.0,249.47,1322.8
2,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Right,2,79104.0,288.0,4.0,6.0,250.27,1318.6
3,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Right,2,79104.0,280.0,4.0,6.0,250.38,1318.0
4,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Right,2,79104.0,264.0,4.0,6.0,250.59,1316.9
5,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Right,2,79104.0,272.0,4.0,6.0,251.91,1310.0
6,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Crout,2,Right,2,79104.0,328.0,4.0,6.0,252.23,1308.3
7,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Left,2,79104.0,328.0,4.0,6.0,252.48,1307.1
8,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Right,2,79104.0,328.0,4.0,6.0,252.53,1306.8
9,24,Row-major,Mix,transposed,transposed,yes,0,1ring,Right,2,Crout,2,79104.0,328.0,4.0,6.0,252.58,1306.5